.main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.div-wrapper{
    width: 30%;
    height: 80vh;
    padding: 2%;
    background-color: white;
    border-radius: 10px;
}

.flex-wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}

.flex-wrap:nth-child(1){
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
    margin-top: 5%;
}

.main-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.main-title{
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    text-align: center;
}