.div-input{
    display: flex;
    flex-direction: column;
    color: #767676;
    width: 100%;
    font-size: 14px;
}

.div-input input{
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
}