.date-picker input{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    width: 100%;
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    padding: 5px;
    color: #767676;
}

.date-label{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #767676;
}

.date-div{
    display: flex;
    flex-direction: column;
}